# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Python packaging
dist/
build/
*.egg-info/

# Data / outputs
*.png
*.pdf
*.svg
data/*

# IDEs
.vscode/
.idea/
